@import "/styles/_theme.scss";

Page
{
	background-color: $default-950;
	flex-grow: 1;
	position: relative;
	justify-content: center;
}

Page VirtualList 
{
    width: 100%;
    height: 100%;
    gap: 8px;
}

Page > .inner {
    flex-grow: 1;
    flex-shrink: 1;
    pointer-events: all;
    flex-direction: row;
    overflow: hidden;
    width: 100%;
}

Page > .inner > .sidebar
{
    flex-shrink: 0;
    width: 400px;
    background-color: $default-900;
    overflow: hidden;
    overflow-y: scroll;
    flex-direction: column;
    pointer-events: all;
    gap: 8px;
    padding: 50px;
    box-shadow: 6px 0 36px rgba( black, 0.5 );
}

Page > .inner > .pagebody
{
    flex-grow: 1;
    flex-shrink: 1;
    flex-direction: column;
}

Page > .inner > .pagebody > .row
{
    padding: 50px;
    flex-direction: row;
}

Page > .inner > .sidebar > .flex-column
{
    gap: 16px;
    flex-shrink: 0;
}

Page > .inner > .sidebar meta
{
    color: #747e90;

    i
    {
        color: #636a77
    }
}

Page > .inner > .sidebar h2
{
    color: #c6d4ee;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 16px;
    flex-shrink: 0;

    i
    {
        color: #3777ee;
        text-transform: none;
        font-size: 22px;
    }

}

Page > .inner > .sidebar hr
{
    background-color: #1d2431;
    height: 3px;
    width: 100%;
    margin: 30px 10px;
    flex-shrink: 0;
}

    Page > .inner > .sidebar TextEntry {
        background-color: $default-950;
        backdrop-filter: blur( 10px );
        color: $default-text;
        padding: 8px 12px;
        border-radius: $rounding-default;
        pointer-events: all;
        transition: all 150ms $easing;
        border: 1px solid rgba( $default-50, 0.1 );

        &.has-icon {
            Label {
                margin-left: 26px;
            }
        }

        .placeholder {
            font-size: $text-regular;
        }

        Label {
            font-weight: 700;
        }

        iconpanel {
            position: absolute;
            left: 12px;
            opacity: 0.25;
            font-size: $text-large;
        }
    }

Page > .inner > .sidebar p
{
    color: #c6d4eeaa;
    margin: 16px 0;
}