@using Sandbox;
@using Sandbox.UI;
@using System.Globalization
@namespace Sandbox.UI
@inherits Panel

<root class=@BuildClass() @onrightclick=@OnCardRightClicked onclick=@OnCardClicked>
    <div class="image" style="background-image: url(@(Image() ?? "/ui/sbox-logo-square.svg"))" />

    <column>
        <label class="medium package-title">
            @(Package?.Title ?? "Invalid Package")
        </label>

        @if (Package == null)
        {
            <row>
                <label class="eyebrow">
                    We couldn't find that package.
                </label>
            </row>
        }
        else
        {
            <row>
                <icon class="eyebrow">
                    thumb_up
                </icon>

                <label class="eyebrow">
                    @VotePercentage()
                </label>

                <div class="grow" />

                @if (Package.Usage.UsersNow > 0)
                {
                    <badge class="online package-users">
                        <icon>person</icon>
                        <label>@(Package.Usage.UsersNow)</label>
                    </badge>
                }
            </row>
        }
    </column>
</root>

@code {
    public enum SizeTypes
    {
        Default,
        Small,
        Wide,
        Tall
    }

    [Property] public Sandbox.Package Package { get; set; }
    [Property] public SizeTypes Size { get; set; }

    /// <summary>
    /// Called when the icon part of the card is pressed
    /// </summary>
    [Parameter] public System.Action OnLaunch { get; set; }

    /// <summary>
    /// Called when the icon part of the card is right clicked
    /// </summary>
    [Parameter] public System.Action OnMenu { get; set; }
    
    void OnCardClicked()
    {
        OnLaunch?.Invoke();
    }

    void OnCardRightClicked()
    {
        OnMenu?.Invoke();
    }

    private string BuildClass()
    {
        return $"game {Size.ToString().ToLower()}";
    }

    private string VotePercentage()
    {
        if (Package == null) return "Unrated";

        if (Package.VotesUp == 0 && Package.VotesDown == 0)
            return "Unrated";

        return ((int)((float)Package.VotesUp / (Package.VotesUp + Package.VotesDown) * 100)).ToString() + "%";
    }

    public string Image()
    {
        switch (Size)
        {
            case SizeTypes.Tall:
                return Package?.ThumbTall;
            case SizeTypes.Wide:
                return Package?.ThumbWide;
            case SizeTypes.Small:
                return Package?.Thumb;
            default:
                return Package?.ThumbWide;
        }
    }

    protected override int BuildHash() => System.HashCode.Combine(Package);
}
