@import "/styles/_theme.scss";

GameCardList {
    flex-shrink: 0;

    &:hover { sound-in: "ui.button.over"; }
    &:active { sound-in: "ui.button.press"; }
    flex-direction: column;
    position: relative;
    background-color: rgba( $default-950, 0 );
    border-radius: $rounding-default;
    transition: all 150ms ease;
    flex-shrink: 0;
    cursor: pointer;
    z-index: 0;
    height: 64px;
    padding: 4px;
    flex-direction: row;
    gap: 12px;

    .inner column {
        flex-grow: 1;
        flex-basis: 100%;
    }

    .image {
        height: 100%;
        aspect-ratio: 1;
        flex-grow: 0;
        flex-shrink: 0;
        flex-grow: 0;
        background-position: center;
        background-size: cover;
        border-radius: $rounding-small;
        position: relative;
    }

    column {
        gap: 3px;
        justify-content: center;
    }

    .package-title {
        flex-shrink: 0;
        max-height: 24px;
    }

    .package-users {
        position: absolute;
        top: 1px;
        right: 1px;
        text-align: right;
    }

    &:hover {
        background-color: $default-800;
    }
}
