@using Sandbox;
@using Sandbox.UI;
@using MenuProject;
@using System.Globalization
@namespace Sandbox.UI
@inherits Panel

<root class="game" onclick=@ShowGameModal>
    <div class="image" style="background-image: url(@(Image() ?? "/ui/sbox-logo-square.svg"))">
        @if (Package.Usage.UsersNow > 0)
        {
            <badge class="online package-users">
                <icon>person</icon>
                <label>@(Package.Usage.UsersNow)</label>
            </badge>
        }
    </div>

    <column>
        <label class="medium package-title">
            @(Package?.Title ?? "Invalid Package")
        </label>

        @if (Package == null)
        {
            <row>
                <label class="eyebrow">
                    We couldn't find that package.
                </label>
            </row>
        }
        else
        {
            <row>
                <icon class="eyebrow">
                    thumb_up
                </icon>

                <label class="eyebrow">
                    @VotePercentage()
                </label>

                <div class="grow" />
            </row>
        }
    </column>
</root>

@code {
    [Property] public Sandbox.Package Package { get; set; }

    private void ShowGameModal()
    {
        Package?.OpenModal();
    }

    private string VotePercentage()
    {
        if (Package == null) return "Unrated";

        if (Package.VotesUp == 0 && Package.VotesDown == 0)
            return "Unrated";

        return ((int)((float)Package.VotesUp / (Package.VotesUp + Package.VotesDown) * 100)).ToString() + "%";
    }

    public string Image()
    {
        return Package?.Thumb;
    }

    protected override int BuildHash() => System.HashCode.Combine(Package);
}
