@using Sandbox;
@using Sandbox.Network;

<root class="row" onclick=@OnGroupClick>

	@if ( Left is not null )
	{
		<div class="left">@Left</div>
	}

	<div class="game-thumb">
		@if ( string.IsNullOrEmpty( GamePackage?.Thumb ) )
		{
			<i>sports_esports</i>
		}
		else
		{
			<img src="@GamePackage.Thumb" />
		}
	</div>

	<div class="game-info">
		<div class="game-title">@(GamePackage?.Title ?? GameIdent)</div>
		<div class="game-summary">
			<span class="players">@TotalPlayers players on @(ServerCount == 1 ? "1 server" : $"{ServerCount} servers")</span>
		</div>
	</div>

	@if ( Left is null )
	{
		<div class="chevron"><i>chevron_right</i></div>
	}

</root>

@code
{
	[Parameter] public string GameIdent { get; set; }
	[Parameter] public int TotalPlayers { get; set; }
	[Parameter] public int ServerCount { get; set; }
	[Parameter] public Action OnGroupClick { get; set; }
	[Parameter] public RenderFragment Left { get; set; }

	Package GamePackage;

	protected override void OnAfterTreeRender( bool firstTime )
	{
		base.OnAfterTreeRender( firstTime );

		if ( firstTime )
			LoadPackage();
	}

	async void LoadPackage()
	{
		if ( string.IsNullOrEmpty( GameIdent ) || !GameIdent.Contains( '.' ) || GameIdent.Contains( "local." ) )
			return;

		var pkg = await Package.FetchAsync( GameIdent, true );
		if ( pkg?.Public ?? false )
		{
			GamePackage = pkg;
			StateHasChanged();
		}
	}

	protected override int BuildHash() => System.HashCode.Combine( GameIdent, TotalPlayers, ServerCount, Left is not null, GamePackage?.Thumb );
}
