@using MenuProject.MenuUI.ContentBlock
@using MenuProject.MenuUI.Layout
@using Sandbox;
@using Sandbox.UI;
@using MenuProject.UI;
@page "/games/dash"
@inherits Panel

<root class="gameshub">
    <Page>
		<Body>
			@if (_isLoading)
            {
                <LoadingPanel></LoadingPanel>
            }
            else
            {
                <ContentBlocks Group="@Result"></ContentBlocks>
            }
		</Body>
	</Page>
</root>

@code 
{

	private bool _isLoading = false;

	Package.ListResult Result;

	protected override async Task OnParametersSetAsync()
	{
		await UpdateList();
	}

	async Task UpdateList()
	{
		if (_isLoading) return;

		try
		{
			_isLoading = true;
			Result = await Package.ListAsync("aa8913bd-495e-44d1-a8e1-288e69427f0d");
		}
		finally
		{
			_isLoading = false;
		}

		StateHasChanged();
	}

	protected override int BuildHash()
	{
		return System.HashCode.Combine(Result, _isLoading);
	}
}
