@import "/styles/_theme.scss";

GameGroup
{
    background-color: $default-950;
    align-items: center;
    justify-content: center;
}

Page
{
    width: 100%;
    max-width: $screen-w-xl;
}

GameGroup h2
{
    font-size: 2rem;
    font-weight: 650;
    padding: 2rem;
    padding-bottom: 0;
    gap: 1rem;
}

GameGroup packagelist virtualgrid
{
    padding: 32px;
    padding-bottom: 132px;
    gap: 16px;
}
