@import "/styles/_theme.scss";

OfflineMode >.offline-popup
{
	border-radius: 12px;
	padding: 8px;
	font-family: "poppins";
	font-size: 18px;
	font-weight: 700;
	background-color: rgb(255, 193, 7);
	color: black;
	position: absolute;
	bottom: 86px;
	left: 50%;
	transform: translateX(-50%);
	justify-content: center;
	align-items: center;
	pointer-events: all;
	width: 100%;
	max-width: 500px;
	box-shadow: 0 0 25px rgba( black, 0.5 );

	label
	{
		flex-grow: 1;
		margin-left: 8px;
	}
}