@import "/styles/_theme.scss";

PackageSummary
{
    flex-direction: column;
    padding: 0px 24px;
    gap: 4px;
    font-family: Poppins;
    color: $default-text-light;
    font-size: 14px;
    font-weight: 500;
}

.title
{
    font-size: 26px;
    font-weight: 700;
    color: white;
}

.org
{
    flex-direction: row;
    align-items: center;
    gap: 6px;
    cursor: pointer;

    &:hover
    {
        .orgname
        {
            color: white;
        }
    }
}

.org-thumb
{
    width: 20px;
    height: 20px;
    border-radius: 4px;
    background-size: cover;
}

.orgname
{
    font-weight: 550;
    color: #bcc9e2;
}


.tags
{
    padding: 8px 0;
    gap: 5px;
    flex-wrap: wrap;
}

.tag
{
    padding: 5px 8px;
    background-color: #252e3f;
    border-radius: 7px;
    font-size: 10px;
    font-weight: 550;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #bcc9e2;
}